fastapi
uvicorn[standard]

pydantic
python-dotenv

requests
numpy
pandas
joblib
scikit-learn
xgboost

sqlalchemy
psycopg2-binary   # PostgreSQL 연결용

librosa
soundfile

groq
openai

langgraph
langchain
langchain-core

python-multipart   # File Upload

# 필요 시 CORS 사용
starlette

# (Optional) audio 처리 위해 ffmpeg-python
ffmpeg-python
